<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, '','Login form')}"
>
<body>
<div class="row" style="margin-top: 100px" ;>

    <div class="col-lg-4 text-center"></div>
    <div class="col-lg-4 text-center" style="margin-top: 100px;">
        <div class="card">
            <div class="d-flex justify-content-center mb-3" style="padding-top: 20px">
                <img th:src="@{/img/avatar.png}" style="width: 100px; height: 100px;"/>
            </div>
            <div class="card-body">
                <form id="login-form" th:action="@{/perform_login}" method='POST' class="form-horizontal">
                    <div th:if="${param.error != null}" class="alert alert-danger">
                        Invalid username or password.
                    </div>
                    <div th:if="${createdUserName != null}" class="alert alert-success">
                        <p>User <span th:text="${createdUserName}"></span> added!</p>
                    </div>
                    <div th:if="${param.logout != null}" class="alert alert-success">
                        <p>Logged out successfully</p>
                    </div>
                    <div class="form-group">
                        <label for="username" class="sr-only">Email or Username</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="&nbsp;">
                        <span class="input-placeholder">Email or Username</span>
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="&nbsp;">
                        <span class="input-placeholder">Password</span>
                    </div>
                    <div style="margin-top: 25px" class="input-group">
                        <button type="submit" class="btn btn-success" style="flex: auto">Login</button>
                    </div>
                    <div style="margin-top: 25px" class="input-group">
                        <p style="font-size: smaller;text-align: center">--contact the Information Technology department--</p>
                    </div>
                    <div style="margin-top: 10px" class="input-group">

<!--                        <p>Create new <a th:href="@{/customers/new/retail}">Retail</a> or <a th:href="@{/customers/new/corporate}">Corporate</a> account</p>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4 text-center"></div>
</div>
</body>
</html>